<header class="header">
  <div class="header-logo">
    <h1>COVSensor</h1>
  </div>

  <div class="header-auth">
    <a mat-raised-button mat-list-item routerLink="/auth">Iniciar Sesion</a>
  </div>
</header>

<section class="home-main">
  <div class="home-main-img">
    <img [src]="image3" />
  </div>
  <div class="home-hero">
    <h1>COVSensor</h1>
    <p>
      La solución para asegurar la calidad ambiental interior del riesgo de contagio de COVID-19.
    </p>
  </div>
</section>

<section class="slider">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img [src]="image1" alt="Oficina" style="width: 100%" />
        </div>

        <div class="item">
          <img [src]="image2" alt="SensorRed" style="width: 100%" />
        </div>

      </div>
    </div>
  </div>
</section>

<footer class="text-center text-white" style="background-color: #3f51b5">
  <div class="container p-4 pb-0">
    <!-- <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register</span>
        <button mdbRipple type="button" class="btn btn-outline-light btn-rounded">
          Sign up!
        </button>
      </p>
    </section> -->
  </div>
  <div class="text-center p-3" style="background-color: #3f51b5">
    © 2022 Copyright:
    <a class="text-white" href="#">COVSensor</a>
  </div>
</footer>