<div class="control">
  <div class="control-container">
    <div class="air-control-container">
      <label class="air-label">Campos cerrados: </label>
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Bombas</mat-label>
          <mat-select [formControl]="myBomba">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let bomba of bombasAire" [value]="bomba">
              {{ bomba }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>

    <div class="control-top">
      <h1>Promedio de CO2 actual:</h1>
      <div class="control-box">
        <h1>2168 ppm</h1>
      </div>
    </div>
    <h2 class="control-some-graph">Algunas graficas</h2>
    <div class="control-bot">
      <mat-form-field appearance="fill" class="select-container">
        <mat-label>Periodo</mat-label>
        <mat-select [(value)]="informeSelected">
          <mat-option>None</mat-option>
          <mat-option value="dia">Dia</mat-option>
          <mat-option value="semana">Semana</mat-option>
          <mat-option value="mes">Mes</mat-option>
        </mat-select>
      </mat-form-field>
      <ngx-charts-area-chart-stacked
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="multi"
        (select)="onSelect($event)"
      >
      </ngx-charts-area-chart-stacked>
    </div>
  </div>
</div>
