<!-- <div class="edit-section">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ mySensor.codigoEspacioCerrado }}</mat-card-title>
      <mat-card-subtitle>{{ mySensor.estado }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ mySensor.descripcion }}
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-raised-button routerLink="/sensor">Ok</button>
    </mat-card-actions>
  </mat-card>
</div> -->

<h1 mat-dialog-title>Sensor:</h1>
<div mat-dialog-content>
  <h4>
    Codigo de Espacio Cerrado: <b>{{ data.sensor.codigoEspacioCerrado }}</b>
  </h4>
  <h4>
    Estado: <b>{{ data.sensor.estado ? "Activo" : "Inactivo" }}</b>
  </h4>
  <h4>
    Descripcion:
    <b>{{ data.sensor.descripcion }}</b>
  </h4>
</div>
<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
