<h1 mat-dialog-title>Sensor coordinador:</h1>
<div mat-dialog-content>
  <h4>
    Codigo Sesnor Coordinador: <b>{{ data.sensor.id_Arduino }}</b>
  </h4>
  <h4>
    Asignado: <b>{{ data.sensor.status }}</b>
  </h4>
  <h4>
    Descripcion:
    <b>{{ data.sensor.description }}</b>
  </h4>
  <h4>
    Codigo Espacio Cerrado: <b>{{ closeSpace.codigo }}</b>
  </h4>
  <!-- <h4>
    Bomba de aire:
    <b>{{ data.air }}</b>
  </h4>
  <h4>
    Alarma:
    <b>{{ data.alarm }}</b>
  </h4> -->
</div>
<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
