<h1 mat-dialog-title>Sensor coordinador:</h1>
<div mat-dialog-content>
  <h4>
    Codigo de Espacio Cerrado: <b>{{ data.sensor.codigoEspacioCerrado }}</b>
  </h4>
  <h4>
    Asignado: <b>{{ data.sensor.asignado ? "Asignado" : "No asignado" }}</b>
  </h4>
  <h4>
    Descripcion:
    <b>{{ data.sensor.descripcion }}</b>
  </h4>
  <h4>
    Bomba de aire:
    <b>{{ data.air }}</b>
  </h4>
  <h4>
    Alarma:
    <b>{{ data.alarm }}</b>
  </h4>
</div>
<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
