
::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em !important;
}

.refresh-icon {
  margin-left: auto;
  cursor: pointer;
}
.supervisor {
  margin: 1% auto;
}

.supervisor-header {
  width: 96%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-supervisor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  mat-form-field {
    width: 100%;
  }
}

.supervisor-table {
  width: 96%;
  margin: 2%;
}

.create-button{
  margin-bottom: 2%;
}

.detail-button {
  right: 1%;
}

.th-acciones, .td-acciones {
    text-align: center !important;
}

.btn-details {
  background-color: greenyellow;
  margin: 0 .5rem;
  color: white;
}