<div class="update-page">
  <form [formGroup]="form">
    <mat-card class="mat-elevation-z1">
      <button (click)="goToBack()" class="back-button" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-card-title>Espacio Cerrado</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Codigo</mat-label>
          <input
            matInput
            placeholder="Codigo"
            type="text"
            formControlName="codigo"
          />
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline">
          <mat-label>Descripcion</mat-label>
          <input
            matInput
            placeholder="Descripcion"
            type="text"
            formControlName="descripcion"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Sensor coordinador</mat-label>
          <mat-select formControlName="mySensor">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sensor of sensores" [value]="sensor">
              {{ sensor }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="update-button"
          (click)="openDialog()"
        >
          Aceptar
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
