<div class="supervisor">
  <div class="supervisor-header">
    <div class="search-supervisor">
      <mat-form-field
        appearance="outline"
        class="search-form-field"
        floatLabel="always"
      >
        <mat-label>Ingrese codigo de la bomba de aire a buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
      <!-- <button mat-raised-button color="primary" class="search-button" (click)="search()">
        Buscar
      </button> -->
    </div>
  </div>
  <div class="supervisor-header">
    <mat-icon class="refresh-icon" (click)="getData()">refresh</mat-icon>
  </div>
  <table
    mat-table
    [dataSource]="bombas"
    class="mat-elevation-z8 supervisor-table"
  >
    <ng-container matColumnDef="Codigo Bombas Aire">
      <th mat-header-cell *matHeaderCellDef>Codigo Bombas Aire</th>
      <td mat-cell *matCellDef="let bombaAire">
        {{ bombaAire._id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Asignado">
      <th mat-header-cell *matHeaderCellDef>Asignado</th>
      <td mat-cell *matCellDef="let bombaAire">
        {{ bombaAire.status }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let bombaAire">
        {{ bombaAire.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Acciones">
      <th class="th-acciones" mat-header-cell *matHeaderCellDef>Acciones</th>
      <td class="td-acciones" mat-cell *matCellDef="let bombaAire">
        <button
          mat-raised-button
          color="primary"
          (click)="openDialog(bombaAire)"
          class="detail-button"
        >
          Detalle
        </button>
        <button
          class="btn-details"
          mat-raised-button
          (click)="goToEdit(bombaAire)"
        >
          Editar
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="openDeleteDialog(bombaAire)"
        >
          Eliminar
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<!-- routerLink="detail" -->
