<div class="user-page">
  <form [formGroup]="form">
    <mat-card class="mat-elevation-z1">
      <mat-card-title>Perfil</mat-card-title>
      <mat-card-content>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline">
          <mat-label>Nombres</mat-label>
          <input
            matInput
            placeholder="Nombres"
            type="text"
            formControlName="name"
            readonly
          />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input
            matInput
            placeholder="Apellidos"
            type="text"
            formControlName="lastName"
            readonly
          />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            type="email"
            formControlName="email"
            readonly
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="true" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
            readonly
          />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="update-button"
          routerLink="update"
        >
          Actualizar información
        </button>
        <button
          mat-raised-button
          color="primary"
          class="close-button"
        >
          Cerrar Sesión
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
