<div class="supervisor-create">
  <form [formGroup]="formControl">
    <mat-card class="mat-elevation-z1">
      <button (click)="goToBack()" class="back-button" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-card-title>Crear Espacio Cerrado</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Codigo</mat-label>
          <input
            matInput
            placeholder="Codigo"
            type="text"
            formControlName="codigo"
          />
          <div
            class="messages"
            *ngIf="codigoField.touched && codigoField.invalid"
          >
            <mat-error *ngIf="codigoField.hasError('required')">
              Este campo es requerido
            </mat-error>
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <input
            matInput
            placeholder="Descripcion"
            type="text"
            formControlName="descripcion"
          />
          <div
            class="messages"
            *ngIf="descripcionField.touched && descripcionField.invalid"
          >
            <mat-error *ngIf="descripcionField.hasError('required')">
              Este campo es requerido
            </mat-error>
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Sensor coordinador</mat-label>
          <mat-select formControlName="mySensor">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let sensor of sensores" [value]="sensor">
              {{ sensor }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle formControlName="asignado">Asignado</mat-slide-toggle>
        <button
          mat-raised-button
          color="primary"
          class="update-button"
          (click)="openDialog()"
        >
          Crear Espacio Cerrado
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</div>
