<h1 mat-dialog-title>Espacio Cerrado</h1>
<div mat-dialog-content>
  <h4>
    Codigo: <b>{{ data.space.codigo }}</b>
  </h4>
  <h4>
    Asignado: <b>{{ data.space.asignado ? "Asignado" : "No asignado" }}</b>
  </h4>
  <h4>
    Descripcion: <b>{{ data.space.descripcion }}</b>
  </h4>
  <h4>
    Sensor coordinador: <b>{{ data.sensor }}</b>
  </h4>
  <h4>
    Bomba de Aire: <b>{{ data.air }}</b>
  </h4>
  <h4>
    Alarma: <b>{{ data.alarm }}</b>
  </h4>
</div>
<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
